.design {
  border: dotted 2px #fbf7eb;
}
body {
  background: #281e27; 
  text-align: center;
  color: #fff;
  position: relative;
  font-family: 'Oswald', sans-serif;
}
.box {
  width: 400px;
  padding: 30px;
  text-align: left;
  border-radius: 30px;
  display: inline-block;
  margin: 20px;
}
.program {
  border: solid 2px #ffc973;
}
.box-header {
  text-align: center;
}
.trine {
  border: dashed 2px #c98a2f;
}
img {
  width: 100%;
}

.logo {
  width: 155px;
  position: absolute;
  top: 30px;
  right: 30px;
}
a {
  color: #fff;
}
h1, h2, h3 {
  font-family: 'Permanent Marker', cursive;
}
